<IfModule mod_rewrite.c>
    RewriteEngine On
    #RewriteBase /
	RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L,QSA] 
	Options -Indexes
	
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php
</IfModule> 
<Files "index.php">
AcceptPathInfo On
</Files> 
<IfModule mod_headers.c>
# this domain should only be contacted in HTTPS for the next 6 months
Header add Strict-Transport-Security "max-age=15768000"
</IfModule>
<IfModule mod_headers.c>
  Header set Cache-Control "no-cache, no-store, must-revalidate, private"
  Header set Pragma "no-cache"
  Header set Expires 0
  Header set X-XSS-Protection "1; mode=block"
  Header always append X-Frame-Options SAMEORIGIN
  Header set X-Content-Type-Options: "nosniff”
</IfModule>